body {
  font-family: verdana;
}

core-animated-pages {
  width: 100%;
  height: 100%;
  border: none;
}

core-animated-pages > div {
  display: flex;
  opacity: 0;
  background-color: #FFFFFF;
}
body /deep/ .profile {
  border-radius: 50%;
}

body /deep/ .header-name {
  font-size: 2.2rem;
}

body /deep/ .initial {
  color: #ee1111;
  font-weight: bold;
}

body /deep/ core-toolbar {
  font-family: verdana;
  background-color: #111111;
}

body /deep/ core-header-panel {
  color: #FFFFFF;
}

body /deep/ core-menu {

}

core-toolbar {
  color: #FFFFFF;
  fill: currentcolor;
}

body /deep/ [drawer] {
  background-color: #111111;
  fill: currentcolor;
}

body /deep/ [main] {
  color: #000000;
  background-color: #FFFFFF;
}